([
    (
        name: "Air",
        color: Rgba(red: 0.0, green: 0.0, blue: 0.0, alpha: 0.0),
    ),
    (
        name: "Dirt",
        color: Rgba(red: 0.2, green: 0.06, blue: 0.01, alpha: 1.0),
    )
])