(
    width: 100,
    height: 100,
    cell_size: 16.,
    ore_incidences: {
        "Coal": 2.,
        "Iron": 2.,
        "Stone": 2.,
    },
    seed: 1,
    chunk_size: (16, 16),
    chunk_spawn_radius: 2,
    region_size: (16, 16),
)